{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "$server": [
            "./src/server"
          ],
          "$config": [
            "./src/config"
          ],
          "$models": [
            "./src/models"
          ],
          "$modules": [
            "./src/modules"
          ],
          "$transformation": [
            "./src/transformation"
          ]
        }
      }
    ]
  ]
}
