{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "src": [
            "./src"
          ],
          "$server": [
            "./src/infrastructure/server"
          ],
          "$config": [
            "./src/infrastructure/config"
          ],
          "$models": [
            "./src/domain/models"
          ],
          "$modules": [
            "./src/application/modules"
          ],
          "$transformation": [
            "./src/infrastructure/transformation"
          ]
        }
      }
    ]
  ]
}
